.nav-bar{
    color: black;
}  

/* this is the background color for all pages */
.body{
    background-color: #e3fde3;
}

/* box white */
.box-white{
    border: solid 1px white;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px #9ec49e;
    padding: 20px;
}

/* index page */
.index-header{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 1.8;
    padding: 20px;
    border: solid 1px white;
    background-color: white;
}

#img-rubikscube{
    float: left;
    margin: 50px 100px 0px 230px;
    border: solid 30px white;
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 10px #7dbb8f;
    font-weight: bold;
    text-align: center;
}

#kpop-confused-meme{
    float: right;
    margin: 60px 200px 0px 0px;
    border: solid 35px white;
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 10px #7dbb8f;
}

#kpop-meme-hartjes{
    float: left;
    margin: 0px 0px 50px 230px;
    border: solid 35px white;
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 10px #7dbb8f;
}

.paragraaf-motivatie-tech{ 
   margin: 50px 200px 0px 650px;
   font-size: 18px;
}

.paragraaf-motivatie-crea{
    margin: 130px 630px 50px 230px;
    font-size: 18px;
}

.paragraaf-motivatie-komend-jaar{
    margin: 50px 200px 50px 600px;
    font-size: 18px;
}

/* footer for all pages */
footer{
    border: solid 1px #A8D8A8;
    background-color: #A8D8A8;
    padding: 5px;
}

.social-media-icons li{
    display: flex;
    justify-content: space-between;
    list-style-type: none; 
    display: inline-block;  
    padding-left: 50px;
}

/* profile page */
.profile-header{ 
    text-align: left;
    margin: 50px 760px 0px 100px;
}

.list-profiel{
    list-style-type: none;
}

#ik-skilift-img{
    float: right;
}

.waar-kamer{ 
    float: right;
    margin: 50px 100px 0px 100px;
}

.familie{
    margin: 68px 760px 0px 100px;
}

#familie-img{
    margin: 50px 100px 0px 100px;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.social-media-icons li{
    display: inline-block;
    margin: 0 120px;
}

.persoonlijkheid{
    float: left;
    margin: 50px 0px 0px 100px;
}

.hobbies{ 
    margin: 50px 700px 50px 430px;
}

.obsessies{
    float: right;
    margin: 50px 100px 0px 0px;
}

#vrije-tijd-img{
    margin: 50px 100px 50px 100px;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

/* dashboard */
/* dashboard table */
.table{
    text-align: center;
    margin: 30px 200px 50px 300px;
}

td, th{
    border: 1px solid #004225;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #bfefbf;
}

/* progressie bar - dashboard */
.progress-container {
    width: 80%;
    margin: 0px 30px 20px 130px;
    height: 30px;
    background-color: #bfefbf;
    margin: 30px 100px 20px 150px;
}

.progress-bar {
    width: 5%;
    height: 100%;
    background-color: #046307; 
    transition: width 0.3s ease-in-out;
    margin: 30px 0px 20px 0px;
}

.progress-container::after {
    content: "";
    position: absolute;
    width: 5px;
    background-color: #000; 
    top: 187px;
    bottom: 525px;
    left: 70%;
}

#progressie-bar-ec{
    display: inline-block;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0px 115px 40px 140px ;
}

.legenda{
    width: 200px;  
    height: 240px;
    position: absolute; 
    margin-top: 60px;
    border-radius: 10px;
}

.legenda li{
    list-style-type: none;
    line-height: 50px;
}

/* FAQ */
.faq{
    margin: 50px 0px 50px 115px;
}

.question{
    background-color: #7dbb8f;
    border: none;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

.answer{
    background-color: #bfefbf;
    border: none;
    padding: 8px;
    padding-left: 16px;
}

#question-print-doc{
    width: 500px; 
    height: 50px;
}

#answer-print-doc{
    width: 500px; 
    height: 50px;
    margin-bottom: 20px;
}

#question-scan-doc{
    width: 665px; 
    height: 50px;
}

#answer-scan-doc{
    width: 665px; 
    height: 100px;
    margin-bottom: 10px;
}

#question-HZ-webshop{
    width: 700px; 
    height: 50px;
}

#answer-HZ-webshop{
    width: 700px;
    height: 35px;
    margin-bottom: 20px;
}

#question-project-space{
    width: 415px; 
    height: 50px;
}

#answer-project-space{
    width: 415px; 
    height: 50px;
    margin-bottom: 20px;
}

#question-car-park{
    width: 570px; 
    height: 50px;
}

#answer-car-park{
    width: 570px; 
    height: 55px;
}

/* blog */
.blog-position-main{
    margin: 50px 130px 20px 230px;
    padding-bottom: 20px;
}

.blog-post-position{
    margin-bottom: 20px;
    padding: 10px;
    text-align: left;
    justify-content: space-between;
}

.content-wrapper {
    display: flex; 
    align-items: center;
}
  
  .content-wrapper img {
    margin-right: 50px; 
    padding-left: 10px;
}

.blog-page{
    margin: 50px 280px 50px 280px;
}

#back-to-blog{
    margin: 0px 0px 0px 0px;
    font-size: 16px;
}

.artiekel-ict-fow{
    margin: 30px 0px 30px 0px;
}

.artiekel-ict-fow li{
    list-style-type: square;
    list-style-position: inside;
    text-align: left;
}