.nav-bar{
    color: black;
}  

/* this is the background color for all pages */
.body{
    background-color: #fae9f1;
}

/* box white */
.box-white{
    border: solid 1px white;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px #f5c6e5;
    padding: 20px;
}

/* index page */
.index-header{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 1.8;
    padding: 20px;
    border: solid 1px white;
    background-color: white;
}

#img-rubikscube{
    float: left;
    margin: 50px 180px 0px 110px;
    border: solid 30px white;
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 10px #f5c6e5;
}

.paragraaf_motivatie_tech{ 
   font-family: 'Times New Roman', Times, serif;
   margin: 50px 200px 0px 650px;
   font-size: 18px;
}

.paragraaf_motivatie_crea{
    font-family: 'Times New Roman', Times, serif;
    margin: 150px 800px 50px 110px;
    font-size: 18px;
}

#programmeren-meme{
    float: right;
    margin: 95px 200px 0px 0px;
    border: solid 35px white;
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 10px #f5c6e5;
}

/* footer for all pages */
footer{
    border: solid 1px #df5d9a;
    background-color: #df5d9a;
}

.social-media-icons{
    display: flex;
    float: center;
    padding: 10px;
    list-style-type: none;
}

/* profile page */
.profile-header{ 
    text-align: left;
    margin: 50px 760px 0px 100px;
}

.list-profiel{
    list-style-type: none;
}

#ik-skilift-img{
    float: right;
}

.waar-kamer{ 
    float: right;
    margin: 50px 100px 0px 100px;
}

.familie{
    margin: 68px 760px 0px 100px;
}

#familie-img{
    margin: 10px 1130px 0px 100px;
    display: flex;
    margin: 50px 0px 0px 100px;
}

.persoonlijkheid{
    margin: 50px 1050px 0px 100px;
}

.hobbies{ 
    margin: 50px 30px 50px 100px;
}

/* dashboard */

.table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td, th{
    border: 1px solid #df5d9a;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #f5c6e5;
}

/* progressie bar - dashboard */
.progress-container {
    width: 80%;
    margin: 0px 30px 20px 130px;
    height: 30px;
    background-color: #f5c6e5;
}

.progress-bar {
    width: 50%;
    height: 100%;
    background-color: #df5d9a; 
    transition: width 0.3s ease-in-out;
}

.legenda{
    margin: 0px 10px 0px 10px;
    padding: 10px;
}

/* FAQ */
.questions{
    margin-left: 115px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.question1{
    background-color: #df5d9a;
    width: 500px; height: 50px;
    padding: 16px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-align: left;
    margin-top: 30px;
}

.anwser1{
    background-color: #f5c6e5;
    width: 500px; height: 50px;
    padding: 8px;
    padding-left: 16px;
    border: none;
    margin-bottom: 20px;
}

.question2{
    background-color: #df5d9a;
    width: 665px; height: 50px;
    padding: 16px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.anwser2{
    background-color: #f5c6e5;
    width: 665px; height: 100px;
    padding: 8px;
    padding-left: 16px;
    border: none;
    margin-bottom: 20px;
}

.question3{
    background-color: #df5d9a;
    width: 700px; height: 50px;
    padding: 16px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.anwser3{
    background-color: #f5c6e5;
    width: 700px; height: 35px;
    padding: 8px;
    padding-left: 16px;
    border: none;
    margin-bottom: 20px;
}

.question4{
    background-color: #df5d9a;
    width: 415px; height: 50px;
    padding: 16px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.anwser4{
    background-color: #f5c6e5;
    width: 415px; height: 50px;
    padding: 8px;
    padding-left: 16px;
    border: none;
    margin-bottom: 20px;
}

.question5{
    background-color: #df5d9a;
    width: 570px; height: 50px;
    padding: 16px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.anwser5{
    background-color: #f5c6e5;
    width: 570px; height: 55px;
    padding: 8px;
    padding-left: 16px;
    border: none;
    margin-bottom: 20px;
}

.blog-position-main{
    margin: 50px 130px 50px 230px;
    padding-bottom: 20px;
}

.blog-post-position{
    margin-bottom: 20px;
}

.blog-page{
    margin: 50px 130px 50px 230px;
}

h2{
    text-align: center;
}

#back-to-blog{
    margin: 0px 0px 0px 0px;
    font-size: 16px;
    border-bottom: #df5d9a; /* waarom werkt het niet? */
    text-decoration: none;
    color: #df5d9a; 
}

/* surprise */
.random{
    margin: 0;
}