menu{
  font-family: 'Times New Roman', Times, serif;
}

aside {
  width: 200px;  
  height: 240px;
  background-color: #046307;
  box-shadow: 5px 5px 5px #A8D8A8;
  color: #fff;
  position: fixed; 
  margin: 60px 0px 0px 0px;
  border-radius: 10px;
}

li {
  padding: 0px;
  text-align: center;
}

li a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px;
}