menu{
  font-family: 'Times New Roman', Times, serif;
}

aside {
  width: 200px;  
  height: 360px;
  background-color: #df5d9a;
  box-shadow: 5px 5px 5px #f5c6e5;
  color: #fff;
  position: fixed; 
  margin: 50px 0px 0px 0px;
  border-radius: 10px;
}

li {
  padding: 10px;
  text-align: center;
}

li a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px;
}

li a:hover {
  background-color: #ff7fbb;
}