*{ 
    margin: 0;
    padding: 0;
    font-family: "popping", 'Times New Roman', Times, serif;
    box-sizing: border-box;
} 

.nav-bar{
   height: 100px;
   width: 100%;
   padding: 0 8%;
   background: #ffc1de;
   position: relative; 
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links{
    padding: 28px 0;
}

.nav-links li{
    display: inline-block;
    margin: 0 15px;
}

.nav-links li a{
    text-decoration: none;
    color: black;
    padding: 2px 0;
    position: relative;
}

.nav-links li a::after{
    content: '';
    background: #df5d9a;
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.nav-links li a:hover::after{
    width: 100%;
}

.btn{
    background: #df5d9a;
    color: black;
    padding: 10px 30px; 
    border-radius: 3px;
    cursor: pointer;
}
